/* Palitra
#212121 - secondary-text-color
#757575 - main-text-color
#F5F5F5 - background-color
#2196F3 - accent-color
#FFFFFF - white-color
#F5F4FA - background-color
#F5F5F5 - background-color
#2F303A - footer
#EEEEEE - gallery background */

:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}

/* Studio css */

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  padding-right: 0;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1 2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.web-logo {
  color: var(--accent-color);
}

/* Styles for header */

.list {
  list-style: none;
}

/* SITE NAV // HEADER */
header{
  border-bottom: 1px solid #ECECEC;
 

}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-header{
  display: flex;
  /*  justify-content: center;  */
  align-items: center;
  height: 80px;
}

.site-nav-flex {
  display: flex;
}




.site-nav-item {
  margin-right: 50px;
}
.site-nav-item:last-child {
  margin-right: 0;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contact-flex {
  display: flex;

  margin-left: auto;
}


.contact-item:first-child{
  margin-right: 50px;
}
.contact-link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* styles for headers contacts */
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Styling hero section */
.hero {
  background-color: #2f303a;

}
.hero-title {
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;feature
  cursor: pointer;
  padding: 10px 32px;
}

.hero{
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero>.container{
  text-align: center;
}

/* Section features */

.features{
  padding-bottom: 0tean;
}

.features-list {
  display: flex;
}
.features-item {
  margin-right: 30px;
  flex-basis: 270px;
}
.features-item:last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}

.features-text {
  color: var(--main-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}

/* WORK SECTION */


.work-list {
  display: flex;
}
.work-item {
  margin-right: 30px;
  flex-basis: 370px;
}
.work-item:last-child {
  margin-right: 0;
}

.work-title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.work img {
  display: block;
}
/* team sectioin  */

.team {
  background-color: #f5f4fa;

  text-align: center;
}
.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
  flex-basis: 270px;
}

.team-title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}
.team img {
  display: block;

}

.team-text{
 padding-top: 30px;
 padding-bottom: 30px;
}

.team-member {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-job {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Styles for footer */
.footer-logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-street {
  color: var(--white-color);
}
.address-contact {
  color: var(--white-color);
}
.address-contact:hover {
  color: var(--accent-color);
}
.address-item {
  margin-bottom: 9px;
}

/* PORTFOLIO PAGE */

/* PORTFOLIO NAVIGATION  */


.nav.list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.nav-item {
  margin-right: 8px;
}

.nav-item:last-child {
  margin-right: 0;
}
.nav-button {
  background-color: var(--button-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*PORTFOLIO GALLERY */

.portfolio-title {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio img {
  display: block;
 
}
.portfolio.list {
 
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  flex-basis: 370px;

}

.portfolio-desc {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee; 
  border-right: 1px solid #eeeeee ;
  border-bottom: 1px solid #eeeeee ;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
